<div class="dairy-container">
  <div class="section">
    <div class="content">
      <h1 class="heading">Dairy</h1>
      <p class="paragraph">LDairy products or milk products are a type of food produced from or containing the milk of mammals, most commonly cattle, water buffaloes, goats, sheep, and camels. Dairy products include food items such as yogurt, cheese and butter. A facility that produces dairy products is known as a dairy, or dairy factory. Dairy products are consumed worldwide.</p>
    </div>
  </div>
  <app-bottom-navigation></app-bottom-navigation>
</div>
