.home-container {
  display: flex;
  justify-content: space-between;
  min-width: 100vh;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1636809285/Angular%20Project%202/eggs-sprinkled-with-wheat-white-flour-on-wooden-board_jagcga.jpg');
}

.home-section-left {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.home-section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.home-heading {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
}

.home-sub-heading {
  font-family: 'Yuji Syuku', serif;
  font-size: 25px;
}

.fade-in {
  animation: fadeIn 3s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
