.home-container {
  display: flex;
  justify-content: space-between;
}

.home-section-left {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.home-section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.home-heading {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
}

.home-sub-heading {
  font-family: 'Yuji Syuku', serif;
  font-size: 25px;
}

.fade-in {
  animation: fadeIn 3s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
