.all-products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vh;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/054/806/non_2x/organic-ingredients-on-shabby-white-background-free-photo.jpg');
}

.products-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
  padding: 30px 0;
  flex-grow: 1;
}

.products-categories-container {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: center;
}

.product-category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Yuji Syuku', serif;
  font-size: 15px;
}

.product-category:hover {
  cursor: pointer;
  font-weight: bolder;
}

.hexagon {
  position: relative;
  width: 110px;
  height: 63.51px;
  background-color: #FFBF00;
  margin: 31.75px 3px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 31.75px solid #FFBF00;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 31.75px solid #FFBF00;
}

.hexagon:hover {
  background: #FFF44F;
  /*border: 2px solid rebeccapurple;*/
}

.hexagon:hover:before {
  border-bottom: 31.75px solid #FFF44F;
}

.hexagon:hover:after {
  border-top: 31.75px solid #FFF44F;
}
