<div class="all-products-container">
  <div class="products-section">
    <div class="products-categories-container">
      <div class="product-category" [routerLink]="['/products/diary']">diary</div>
      <div class="product-category" [routerLink]="['/products/fruits']">fruits</div>
      <div class="product-category" [routerLink]="['/products/meat']">meat</div>
      <div class="product-category" [routerLink]="['/products/mushroom']">mushroom</div>
      <div class="product-category" [routerLink]="['/products/nuts']">nuts</div>
      <div class="product-category" [routerLink]="['/products/seafood']">seafood</div>
      <div class="product-category" [routerLink]="['/products/spices']">spices</div>
      <div class="product-category" [routerLink]="['/products/vegetables']">vegetables</div>
      <div class="product-category" [routerLink]="['/products/other']">other</div>
    </div>
  </div>
  <app-bottom-navigation></app-bottom-navigation>
</div>
