.all-products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vh;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/054/806/non_2x/organic-ingredients-on-shabby-white-background-free-photo.jpg');
}

.products-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
  padding: 70px;
  flex-grow: 1;
}

.products-categories-container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.product-category {
  width: 30%;
  padding: 10px 5px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Yuji Syuku', serif;
  font-size: 25px;
}

.product-category:hover {
  cursor: pointer;
  background: rgba(0,0,0, 0.3);
  color: white;
}
