<div class="all-products-container">
  <div class="products-upper-section"></div>
  <div class="products-lower-section">

    <div class="products-categories-container">
      <div class="product-category">Diary</div>
      <div class="product-category">Fruits</div>
      <div class="product-category">Meat</div>
      <div class="product-category">Mushroom</div>
      <div class="product-category">Nuts</div>
      <div class="product-category">Seafood</div>
      <div class="product-category">Spices</div>
      <div class="product-category">Vegetables</div>
      <div class="product-category">Other</div>
    </div>
  </div>
</div>
