<div class="all-products-container">
  <div class="products-section">
    <div class="products-categories-container">

      <div class="product-category hexagon" [routerLink]="['/products/vegetables']">vegetables</div>
      <div class="product-category hexagon" [routerLink]="['/products/meat']">meat</div>
      <div class="product-category hexagon" [routerLink]="['/products/grains']">grains</div>
      <div class="product-category hexagon" [routerLink]="['/products/nuts']">nuts</div>
      <div class="product-category hexagon" [routerLink]="['/products/mushrooms']">mushrooms</div>
      <div class="product-category hexagon" [routerLink]="['/products/fruits']">fruits</div>
      <div class="product-category hexagon" [routerLink]="['/products/seafood']">seafood</div>
      <div class="product-category hexagon" [routerLink]="['/products/diary']">diary</div>
      <div class="product-category hexagon" [routerLink]="['/products/spices']">spices</div>
      <div class="product-category hexagon" [routerLink]="['/products/other']">other</div>
    </div>
  </div>

  <app-bottom-navigation></app-bottom-navigation>
</div>
