<div class="grain-container">
  <div class="section">
    <div class="content">
      <h1 class="heading">Grains</h1>
      <p class="paragraph">A grain is a small, hard, dry seed – with or without an attached hull or fruit layer – harvested for human or animal consumption.[1] A grain crop is a grain-producing plant. The two main types of commercial grain crops are cereals and legumes.

        After being harvested, dry grains are more durable than other staple foods, such as starchy fruits (plantains, breadfruit, etc.) and tubers (sweet potatoes, cassava, and more). This durability has made grains well suited to industrial agriculture, since they can be mechanically harvested, transported by rail or ship, stored for long periods in silos, and milled for flour or pressed for oil. Thus, major global commodity markets exist for maize, rice, soybeans, wheat and other grains but not for tubers, vegetables, or other crops.[citation needed]</p>
    </div>
  </div>
  <app-bottom-navigation></app-bottom-navigation>
</div>
