<div class="meat-container">
  <app-top-navigation></app-top-navigation>
  <div class="section">
    <div class="content">
      <h1 class="heading">Meat</h1>
      <p class="paragraph">Meat is animal flesh that is eaten as food. Humans have hunted and killed animals for meat since prehistoric times. The advent of civilization allowed the domestication of animals such as chickens, sheep, rabbits, pigs and cattle. This eventually led to their use in meat production on an industrial scale with the aid of slaughterhouses. Meat is mainly composed of water, protein, and fat. It is edible raw, but is normally eaten after it has been cooked and seasoned or processed in a variety of ways. Unprocessed meat will spoil or rot within hours or days as a result of infection with and decomposition by bacteria and fungi.</p>
    </div>
  </div>
</div>
