<div class="navbar">
  <div class="dropdown">
    <button class="dropdown-button">Menu <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
      <a class="dropdown-item" href="#">Products</a>
      <a class="dropdown-item" href="#">Stories</a>
      <a class="dropdown-item" href="#">Recipes</a>
      <a class="dropdown-item" href="#">Dictionary</a>
      <a class="dropdown-item" href="#">Destinations</a>
      <a class="dropdown-item" href="#">Restaurants</a>
      <a class="dropdown-item" href="#">Blog articles</a>
    </div>
  </div>
</div>
