<div class="other-products-container">
  <div class="section">
    <div class="content">
      <h1 class="heading">Other products</h1>
      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere congue
        accumsan. mper tempor vitae eget massa. Nunc quis elementum nunc. Curabitur luctus a justo id pretium.
        Donec interdum, enim et consectetur vestibulum, ex nulla fermentum urna, vitae mollis augue massa et magna.
        Morbi vitae sem et enim suscipit varius sit amet scelerisque sapien. Vivamus lobortis porta lacus et
        pretium.</p>
    </div>
  </div>
  <app-bottom-navigation></app-bottom-navigation>
</div>
