.other-products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5c553009348cd9182467b2bb/1556142369109-CO0F5S28CUOZ5TSZSESO/image-asset.jpeg?format=2500w');
}

.section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 50px 100px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.heading {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 80px;
}

.paragraph {
  column-count: 2;
  column-gap: 20px;
  text-align: justify;
}
