<div class="top-navbar">
  <ul class="navbar-list">
    <li class="navbar-list-item"><a class="navbar-link" [routerLink]="['/']">Home</a></li>
    <li class="navbar-list-item"><a class="navbar-link" [routerLink]="['/products/all']">Products</a></li>
    <li class="navbar-list-item"><a class="navbar-link" [routerLink]="['/stories/all']">Stories</a></li>
    <li class="navbar-list-item"><a class="navbar-link" [routerLink]="['/recipes/all']">Recipes</a></li>
    <li class="navbar-list-item"><a class="navbar-link" [routerLink]="['/dictionary/all']">Dictionary</a></li>
    <li class="navbar-list-item"><a class="navbar-link" [routerLink]="['/destinations/all']">Places</a></li>
    <li class="navbar-list-item"><a class="navbar-link" [routerLink]="['/restaurants/all']">Restaurants</a></li>
    <li class="navbar-list-item"><a class="navbar-link" [routerLink]="['/blog-articles/all']">Blog</a></li>
  </ul>
</div>
