.vegetables-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1637252255/Angular%20Project%202/118085467_115674936922311_2556318751905027243_n_ar9vry.jpg');
}

.section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;
  padding: 40px 100px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.heading {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 80px;
}

.paragraph {
  column-count: 2;
  column-gap: 20px;
  text-align: justify;
}
