<div class="fruits-container">
  <app-top-navigation></app-top-navigation>
  <div class="section">
    <div class="content">
      <h1 class="heading">Mushrooms</h1>
      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere congue
        accumsan. Integer posuere diam et fermentum vestibulum. Ut sed orci elit. Curabitur iaculis libero egestas,
        venenatis nunc ut, tristique urna. Donec in dolor gravida, tincidunt mi non, convallis arcu. Morbi placerat
        augue lorem, eget tempus lorem aliquet eget. Aliquam efficitur suscipit justo, vel consectetur purus. Duis non
        mauris vel ipsum semper tempor vitae eget massa. Nunc quis elementum nunc. Curabitur luctus a justo id pretium.
        Donec interdum, enim et consectetur vestibulum, ex nulla fermentum urna, vitae mollis augue massa et magna.
        Morbi vitae sem et enim suscipit varius sit amet scelerisque sapien. Vivamus lobortis porta lacus et
        pretium.</p>
    </div>
  </div>
</div>
