<div class="aside-navbar">
  <div class="dropdown">
    <button class="dropdown-button">Menu  <i class="fas fa-angle-double-right"></i></button>
    <div class="dropdown-content fade-in">
      <a class="dropdown-item" [routerLink]="['/products/all']">Products</a>
      <a class="dropdown-item" [routerLink]="['/stories/all']">Stories</a>
      <a class="dropdown-item" [routerLink]="['/recipes/all']">Recipes</a>
      <a class="dropdown-item" [routerLink]="['/dictionary/all']">Dictionary</a>
      <a class="dropdown-item" [routerLink]="['/destinations/all']">Destinations</a>
      <a class="dropdown-item" [routerLink]="['/restaurants/all']">Restaurants</a>
      <a class="dropdown-item" [routerLink]="['/blog-articles/all']">Blog articles</a>
    </div>
  </div>
</div>
